@charset "UTF-8";

/*@FONT FACE*/
@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'ubuntulight';
	src: url('../fonts/ubuntu-l-webfont.eot');
	src: url('../fonts/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ubuntu-l-webfont.woff2') format('woff2'),
	url('../fonts/ubuntu-l-webfont.woff') format('woff'),
	url('../fonts/ubuntu-l-webfont.ttf') format('truetype'),
	url('../fonts/ubuntu-l-webfont.svg#ubuntulight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-b-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntubold_italic';
    src: url('../fonts/ubuntu-bi-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-bi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*OPENSANS*/
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/opensans/OpenSans-Bold-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Bold-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/opensans/OpenSans-Light-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Light-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Light-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FILTROS */
.opacity-7{
	opacity:.7;
	filter:alpha(opacity=70);
	-moz-opacity:.7;
	opacity:.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70)
}
.opacity-8{
	opacity:.8;
	filter:alpha(opacity=80);
	-moz-opacity:.8;
	opacity:.8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80)
}

/*!!!!! ATENCAO - Dar um replace na cor #DC2539 pela cor sobresaente no site*/

/*BOTOES======================*/
/* videos */
.bt-up,.bt-down{ 
	background-color:#DC2539;
	color:#FFF;
}
.bt-up.disabled,.bt-down.disabled{
	background-color:#DDD;
	color:#FFF;
}
.btn-custom {
	border-color: #DC2539;
	background-color:#DC2539;
	color: #FFF;
}
.btn-custom:hover,
.btn-custom:focus {
	background-color: #DC2539;  
	color: #FFF;
}
.btn-custom:active,
.btn-custom.active {
	background-color:#DC2539;
	border-color: #DC2539;  
	color: #FFF;
}
/*IMG HOVER ======================*/
a:hover .thumbnail, a.thumbnail:hover,
a:hover .img-thumbnail, a.img-thumbnail:hover{
	border-color: #DC2539 !important;
}

/*PAGINACAO========================*/
.pagination > li > a, 
.pagination > li > span {
	color: #222;
}

/* cor dos textos dos boxes */

.box-xs-3 h2,
.box-xs-6 h2,
.box-xs-12 h2,
.box-xs-12-p h3{
	color: #000;
	text-align: center;
}

.box-xs-3 p,
.box-xs-6 p,
.box-xs-12 p,
.box-xs-12-p p{
	color: #000;
}

.list-group a{
	color: #777;
}

/*PAGE WRAPER==========================*/

html,body{
	width: 100%;
	height:100%;
	/*overflow-x: hidden;*/
}
.wrapper{
	margin-bottom:-303px;/*Tamanho do rodape*/
	min-height:100%;
	padding-bottom: 303px;
}

/*BANNER E SEUS RELATIVOS==============*/
.area-banner {
	padding: 0;
	position:relative;
	width: 100%; height: auto; /*TAMANHO DA IMAGEM DO BANNER*/
}
.banners{
	z-index: 1;
	width: inherit;
	height: inherit;
	overflow: hidden;
	position: absolute;
}
.banners a{
	background-position: center top;
	background-repeat: no-repeat;
	display: block;
	height: inherit;
	width: inherit;
}
#banner-nav {
	padding-top: 31.875%; /* altura banner / largura banner*/
	margin: 0 auto;
	height: 24px;
	position: relative;
	text-align: center;
	top: -50px;
}
#banner-nav span {
	border: 1px solid #fff;
	border-radius: 50%;
	color: transparent;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	height: 18px;
	margin: 0 7px;
	position: relative;
	width: 18px;
	z-index: 1;
}
#banner-nav .cycle-pager-active:after {
	background-color: #fff;
	border-radius: 50%;
	content: '';
	height: 9px;
	width: 9px;
	position: absolute;
	left: 0; top: 0; bottom: 0; right: 0;
	margin: auto;
}


/*** fim das preconfiguracoes do starter */

/* faca aqui o melhor css ja visto antes */
body, p {
	color: #010101;
	font-family: 'OpenSansRegular', sans-serif;
	font-size: 14px;
}
h1, h2, h3, h4 {
	font-family: 'latolight', sans-serif;
}
iframe {
	border: none;
}
body, p, h1, h2, h3, th, td {
	line-height: 120%;
}
p {
	color: #212121;
	margin-bottom: 15px;
}
.btn {
	transition: all .25s ease-out;
}
.btn:active {
	transform: scale(.95);
}
.wrapper > article.container,
.wrapper > section.container {
	margin-bottom: 100px;
}
.no-padding {padding: 0;}
.no-padding-left {padding-left: 0;}
.no-padding-right {padding-right: 0;}
.cycle-pager a,
.icone {
	background-image: url(../imagens/sprites.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.middle {
	bottom: 0;
	margin-bottom: auto;
	margin-top: auto;
	position: absolute;
	top: 0;
}

/* TOPO */
#topo {
	padding-top: 27px;
	position: relative;
	z-index: 10;
}

#topo .redes-sociais {
	font-size: 14px;
}
#topo .redes-sociais a {
	background-color: #0D261F;
	border-radius: 50%;
	color: #FFF;
	display: inline-block;
	margin: 0 2px;
	line-height: 24px;
	text-align: center;
	width: 24px;
}

#topo .col-contato span {
	display: block;
	font-family: 'ubunturegular', sans-serif;
	font-size: 15px;
	line-height: 24px;
	margin: 5px 0;
	padding-right: 30px;
	position: relative;
	text-align: right;
}
#topo .col-contato a,
#topo .col-contato span {
	color: #0D261F;
}

#topo .col-contato span .icone {
	right: 0;
}

#topo .col-contato .icone.telefone {
	background-position: 0 0;
	height: 24px;
	width: 24px;
}
#topo .col-contato .icone.envelope {
	background-position: -24px 0;
	height: 20px;
	width: 24px;
}

#menu {
	border-top: 2px solid #ddd;
	margin: 15px auto;
	padding-bottom: 7px;
	padding-top: 11px;
	position: relative;
}
#menu ul {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#menu ul.active {
	display: block;
}
#menu > ul > li {
	display: block;
	padding: 0 1px;
}
#menu > ul > li > a {
	color: #0E261F;
	display: block;
	font-family: 'ubunturegular', sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 27px;
	padding: 0 8px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
#menu > ul > li > a:hover,
#menu > ul > li.active > a {
	background-color: #DC2539;
	color: #FFF;
	position: relative;
}
#menu > ul > li > a:after,
#menu > ul > li > a:after {
	content: '';
	border-top: 8px solid #DC2539;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	opacity: 0.0;
	position: absolute;
	right: 0;
	top: 100%;
}
#menu > ul > li > a:hover:after,
#menu > ul > li.active > a:after {
	opacity: 1.0;
}
#menu #btn-mobile-menu {
	background-color: transparent;
	border: none;
	border-radius: 5px;
	color: #DC2539;
	font-size: 25px;
	line-height: 40px;
	padding: 0 10px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 810;
}
#menu #btn-mobile-menu:hover,
#menu #btn-mobile-menu:active,
#menu #btn-mobile-menu:focus {
	background-color: #DC2539;
	color: #FFF;
	outline: none;
}

/* HOME */
header h1,
header h2,
header h3{
	color: #DC2539;
	font-family: 'ubuntubold_italic', sans-serif;
	margin: 0;
}
.section-header h2 {
	font-size: 25px;
}

.area-bem-vindo {
	margin-bottom: 30px;
	padding-top: 50px;
}
.area-bem-vindo .section-header {
	margin-bottom: 28px;
}

.area-bsc {
	background-color: #FFF;
}
.area-bsc h3 {
	color: #1E4236;
	font-family: 'OpenSansBold', sans-serif;
	font-size: 16px;
	margin-bottom: 5px;
}
.area-bsc p {
	font-size: 13px;
}
@media (min-width: 992px) {
	.area-bsc {
		background-image: url(../imagens/hombre.jpg);
		background-position: center bottom;
		background-repeat: no-repeat;
	}

	.col-md-offset-4 h3 {
		text-align: right;
	}
}

.cycle-slideshow {
	margin-left: auto;
	margin-right: auto;
	transition: all .5s linear;
}

.area-servicos {
	background-color: #004010;
}
.area-servicos .section-header {
	border-bottom: 2px solid #fff;
	margin-bottom: 45px;
	margin-top: 20px;
	position: relative;
}
.area-servicos .section-header:after {
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 17px solid #fff;
	content: '';
	position: absolute;
}
.area-servicos .section-header h2 {
	color: #FFF;
	font-family: 'ubuntubold', sans-serif;
	font-size: 25px;
	margin-bottom: 10px;
}

.cycle-servicos {
	width: 220px;
}
.cycle-servicos .item {
	display: inline-block;
	vertical-align: top;
	width: 220px;
}
@media (min-width: 768px) {
	.cycle-servicos {
		width: 480px;
	}
	.cycle-servicos .item {
		margin-right: 20px;
	}
}
@media (min-width: 992px) {
	.cycle-servicos {
		width: 970px;
	}
	.cycle-servicos .item {
		margin-right: 30px;
	}
}
.cycle-servicos .item > a {
	color: #FFF;
	display: block;
	text-decoration: none;
	height: 255px;
}
.cycle-servicos .item figure {
	margin-bottom: 20px;
	position: relative;
}
.cycle-servicos .item figure:before,
.cycle-servicos .item figure:after {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all .2s linear;
}
.cycle-servicos .item figure:before {
	background-color: rgba(255,255,255,.7);
	content: '';
	height: 100%;
	width: 100%;
}
.cycle-servicos .item figure:after {
	border: 1px solid #003F10;
	bottom: 0;
	color: #003F10;
	content: 'Ver detalhes';
	display: inline-block;
	font-family: 'ubuntubold_italic', sans-serif;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin: auto;
	right: 0;
	text-align: center;
	transform: scale(1.2);
	width: 115px;
}
.cycle-servicos .item figure:hover:before,
.cycle-servicos .item figure:hover:after {
	opacity: 1.0;
	transform: none;
}
.cycle-servicos .item .nome {
	font-family: 'ubuntubold', sans-serif;
	font-size: 14px;
	text-align: center;
}
#pager-servicos {
	padding: 25px 0 15px 0;
	text-align: center;
}
#pager-servicos a {
	color: #FFF;
	display: inline-block;
	font-family: 'ubuntubold', sans-serif;
	font-size: 25px;
	padding: 4px;
	text-decoration: none;
}
#pager-servicos .cycle-pager-active {
	background-color: #41A5DC;
}

.area-orcamento h2 {
	margin: 20px 0;
}

.btn-transparent {
	background-color: transparent;
	color: #DC2539;
	font-family: 'ubuntubold', sans-serif;
	font-size: 15px;
}


/* INTERNAS*/
.page-header {
	background: url(../imagens/fundo-page-header.jpg) no-repeat center center;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 145px;
	margin-top: 0;
	margin-bottom: 30px;
	position: relative;
}
.page-header h1 {
	color: #FFF;
	font-family: 'ubuntubold', sans-serif;
	font-size: 25px;
	font-weight: bold;
	margin: 0 auto;
	position: relative;
	max-width: 970px;
}
.page-header h1:after {
	background-color: #fff;
	bottom: -10px;
	content: '';
	height: 1px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	position: absolute;
	right: 0;
	width: 50%;
}
.page-body p {
	color: #444444;
	font-family: 'OpenSansRegular', sans-serif;
	font-size: 15px;
}
.page-list .box-xs-12,
.page-list .box-xs-12-p {
	border-radius: 2px;
	padding: 10px 5px;
	margin-bottom: 10px;
}
.page-list .box-xs-12-p a {
	display: block;
	text-decoration: none;
}
.page-list .box-xs-12-p:before,
.page-list .box-xs-12-p:after {
	clear: both;
	content: '';
	display: table;
}
.page-list .box-xs-12:hover,
.page-list .box-xs-12-p:hover {
	background-color: rgba(0,0,0,.1);
}
h2.titulo-descricao {
	color: #000;
	font-family: 'ubuntubold', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}
.page-list li h2,
.page-list li h3 {
	color: #000;
	font-family: 'ubuntubold', sans-serif;
	font-size: 14px;
}
.page-list li a {
	text-decoration: none;
}
.page-list li p {
	color: #000;
	font-size: 13px;
}
.page-list .box-xs-12 .col-md-3 figure,
.page-list .box-xs-12-p .col-md-3 figure {
	border: 0;
	border-radius: 20px;
	padding: 0;
	height: 160px;
	width: 220px;
}

.miniatura {
	border: none;
	border-radius: 0;
	margin-left: auto;
	margin-right: auto;
}
.miniatura img {
	left: 0;
}
.panel-title {
	text-align: right;
}
.pagination {
	background-color: #FFFFFF;
}
.pagination a {
	font-size: 12px;
}
.pagination>li>a:hover {
	border-color: #CCC;
}
.pagination>li>a,
.pagination>li>span {
	background-color: transparent;
	border-color: #CCC;
	color: #000;
	font-size: 12px;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	background-color: #DC2539;
	border-color: #CCC;
	color: #FFF;
	font-size: 12px;
}
.form-group {
	margin-bottom: 14px;
}
.form-group:before,
.form-group:after {
	clear: both;
	content: '';
	display: table;
}
label.radio-label {
	display: inline-block;
	padding: 0 10px;
}

/* RODAPE */
.site-footer{
	background-color: #002814;
	color: #FFF;
	min-height:303px;/*taanho do roda*/
	position: relative;
}
.site-footer a,
.site-footer li,
.site-footer p {
	color: #FFF;
	font-family: 'Arial', 'OpenSansRegular', sans-serif;
	font-size: 14px;
	line-height: 130%;
}

.site-footer .menu-rodape {
	margin: 20px auto;
	text-align: center;
}
.site-footer .menu-rodape li {
	display: inline-block;
}
.site-footer .menu-rodape li a {
	display: inline-block;
	font-family: 'ubunturegular', sans-serif;
	font-size: 15px;
	padding: 0 15px;
	text-transform: uppercase;
}

.site-footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.site-footer ul li {
	line-height: 150%;
}
.site-footer .icone {
	margin-right: 5px;
}
.site-footer .icone.endereco {
	background-position: -48px 0;
	height: 24px;
	width: 20px;
}
.site-footer .icone.telefone {
	background-position: -68px 0;
	height: 19px;
	width: 21px;
}
.site-footer .icone.envelope {
	background-position: -89px 0;
	height: 14px;
	width: 19px;
}
.site-footer .endereco-rodape li {
	display: block;
	padding: 10px 0;
	position: relative;
	text-align: center;
}
.site-footer .endereco-rodape li + li {
	border-top: 1px solid #FFF;
}

@media (min-width: 768px) {
	.site-footer ul.endereco-rodape {
		display: table;
		width: 100%;
	}
	.site-footer .endereco-rodape li {
		display: table-cell;
		text-align: left;
		vertical-align: middle;
		width: 33.33%;
	}
	.site-footer .endereco-rodape li + li {
		border-top: none;
		border-left: 1px solid #fff;
		text-align: center;
	}
}

.site-footer .redes-sociais {
	margin-bottom: 20px;
	margin-top: 40px;
	text-align: center;
}

.site-footer .redes-sociais a {
	background-color: #fff;
	border-radius: 50%;
	color: #002814;
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	margin: 0 4px;
	width: 24px;
}


/*Creditos ==========================*/
.site-footer .sub-rodape {
	border-top: 2px solid rgba(255,255,255,.65);
}
#logo-gv8{
	background: url(../imagens/sprites.png) no-repeat 0px -24px;
	display:block;
	height: 21px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 66px;
}

.creditos {
	font-family: Verdana, 'OpenSansLight', sans-serif;
	line-height: 140%;
	padding-top: 10px;
	margin-bottom: 0;
	opacity: .75;
	text-align: center;
}
.creditos:hover {
	opacity: 1.0;
}
.site-footer p.creditos, .creditos a{
	color: #FFF;
	font-size: 11px;
}
.creditos a:hover {
	color: #FFF;
}
@media (max-width: 991px) {
	#menu:after {
		clear: both;
		content: '';
		display: table;
	}
	#logo {
		height: auto;
	}
	.chamada-videos .chamada {
		margin-left: auto;
		margin-right: auto;
	}
	.site-footer {
		height: auto;
	}
	.site-footer .sub-rodape {
		height: auto;
		position: static;
	}
	.site-footer:after {
		clear: both;
		content: '';
		display: table;
	}
}
@media (max-width: 767px) {
	#topo .col-menu,
	#topo .col-menu #menu {
		position: static;
	}
	#menu {
		left: 0;
		min-height: 40px;
		padding: 0 15px;
		z-index: 1000;
		width: 100%;
	}
	#menu > ul {
		background-color: #DC2539;
		padding: 5px;
		overflow: hidden;
	}
	#menu > ul > li a {
		color: #FFF;
		font-size: 14px;
		display: block;
		line-height: 120%;
		padding: 15px;
		text-align: left;
		transition: none;
	}
	#menu ul li a:hover {
		background-color: rgba(255,255,255,.2);
	}
	#menu ul li a:active {
		box-shadow: 2px 2px 8px rgba(0,0,0,.5) inset;
	}
	#topo .redes-sociais,
	#topo .col-contato {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	#topo .redes-sociais {
		text-align: center;
	}
	#logo-gv8{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.creditos {
		text-align: center;
	}
	.pagina-contato:before {
		clear: both;
		content: '';
		display: table;
	}
	.pagina-contato {
		padding-top: 30px;
	}
	.area-galerias .container {
		padding: 0 15px;
	}
}
@media (max-width: 479px) {
	.btn-submit {
		display: block;
		float: none;
		min-height: 40px;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}
	#btn-mobile-menu {
		display: none;
	}
	#menu > ul {
		display: block !important;
		max-width: 970px;
		white-space: nowrap;
		width: auto;
	}
	#menu > ul > li {
		display: inline-block;
	}
	#menu > ul > li:first-child {
		padding-left: 0;
	}
	#menu > ul > li:last-child {
		padding-right: 0;
	}
	.text-left-sm {
		text-align: left;
	}
	.site-footer .col-logo {
		text-align: center;
	}
	.site-footer .col-contato {
		padding-left: 38px
	}
	.form-group .control-label {
		text-align: right;
	}
}
@media (min-width: 992px) {
	.container {
		padding-left: 0px;
		padding-right: 0px;
		width: 970px !important;
	}
}